*.o
*~
*.o
*.gch
*.so
*.aux
*.log
*.gch
*.Rnw.backup
*.aux
*.log
.RData
*.rdat
*.Rout
.sync.ffs_db
*.Rcheck
zeroSum.Rcheck
hpc_version/zeroSum
html
latex
tests/cVersionTest/*.csv
tests/cVersionTest/*.rds
*.nfs*
.vscode
